<div id="about-me" class="py-5">
  <div class="container">
    <h2 class="text-center mb-5 section-title">About Me</h2>
    <div class="row">
      <!-- Personal Introduction -->
      <div class="col-lg-6 mb-4">
        <div class="card shadow-lg h-100" data-aos="fade-up">
          <div class="card-body">
            <h4 class="card-title mb-3">Who I Am ?</h4>
            <p class="card-text lead">
              I am a Senior Software Engineer with over 2.9+ years of experience
              specializing in Angular development. With a passion for crafting
              dynamic and user-friendly web applications, I have a strong
              command of modern web technologies such as JavaScript (ES6+),
              TypeScript, HTML5, CSS3/Sass, and more. My expertise in
              performance optimization, clean code architecture, and seamless
              integration of APIs drives my commitment to delivering scalable,
              high-performance solutions.
            </p>
          </div>
        </div>
      </div>

      <!-- Technical Skills Card -->
      <div class="col-lg-6 mb-4">
        <div class="card shadow-lg h-100" data-aos="fade-up">
          <div class="card-body">
            <h4 class="card-title mb-3">My Focus</h4>
            <p class="card-text lead">
              I am passionate about creating responsive, accessible, and
              user-centric web applications. My work is heavily focused on
              performance optimization, real-time data visualization, and
              ensuring a seamless user experience. I thrive in environments
              where I can solve complex technical challenges and collaborate
              with teams to deliver impactful software.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
