<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <!-- Navbar Brand with AOS -->
    <a class="navbar-brand" href="#" data-aos="fade-in" data-aos-duration="1000">
      <img src="/assets/img/logo.jpg" alt="Logo" class="logo">
    </a>

    <!-- Hamburger Menu Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about-me" data-aos="fade-left" data-aos-duration="1000">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills" data-aos="fade-left" data-aos-duration="1000">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience" data-aos="fade-left" data-aos-duration="1000">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects" data-aos="fade-left" data-aos-duration="1000">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#education" data-aos="fade-left" data-aos-duration="1000">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" data-aos="fade-left" data-aos-duration="1000">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
