<section id="projects" class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">Key Projects</h2>
    <div class="row">
      <!-- FRACPRO OPS Project Card -->
      <div class="col-md-6 mb-4" data-aos="fade-up">
        <div class="project-card">
          <div class="project-card-inner">
            <div class="project-card-front" style="background-image: url('assets/img/carbo-bg.jpg');">
              <h2 class="project-title">FRACPRO OPS</h2>
            </div>
            <div class="project-card-back">
              <h3>FRACPRO OPS</h3>
              <p><strong>Frontend Technologies:</strong> <span> Angular, Bootstrap, Tailwind CSS, Chart.js, IndexedDB</span></p>
              <p><strong>Backend Technologies:</strong> <span> REST APIs, IndexedDB</span></p>
              <p><strong>Authentication:</strong> <span> JWT Tokens</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- RISHI VALLEY Project Card -->
      <div class="col-md-6 mb-4" data-aos="fade-up">
        <div class="project-card">
          <div class="project-card-inner">
            <div class="project-card-front" style="background-image: url('assets/img/rishi-vally-bg.jpg');">
              <h2 class="project-title">RISHI VALLEY</h2>
            </div>
            <div class="project-card-back">
              <h3>RISHI VALLEY</h3>
              <p><strong>Frontend Technologies:</strong> <span> Angular, Bootstrap, Tailwind CSS, D3.js, Angular Material</span></p>
              <p><strong>Backend Technologies:</strong> <span> GraphQL, REST APIs</span></p>
              <p><strong>Authentication:</strong> <span> Keycloak</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>
