<section id="experience" class="my-5">
  <h2 class="text-center">Experience</h2>
  <div class="timeline">
    <div class="timeline-item">
      <h4>Senior Software Engineer - Walking Tree Technologies</h4>
      <p>April 2024 - Present</p>
      <p>Led front-end development and mentored junior developers...</p>
    </div>
    <div class="timeline-item">
      <h4>Software Engineer - Walking Tree Technologies</h4>
      <p>April 2023 - April 2024</p>
      <p>
        Developed key features for web applications, improving performance...
      </p>
    </div>
  </div>
</section>
